.App {
  font-family: sans-serif;
  text-align: center;
}

h2 {
  margin: 60px 0px;
}

.parent-container {
  position: relative;
}

.background-video {
  position: relative;
  filter: blur(3px);
}

.background-video .jw-controls {
  display: none;
}

.background-video:hover {
  cursor: default;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
  padding: 32px 15px;
}

.image-overlay-container {
  display: flex;
  justify-content: center;
}

.image-video-overlay {
  width: 100%;
  border: 2px solid white;
  height: fit-content;
  margin-top: 80px;
}

.video-title {
  border-left: 2px solid red;
  padding-left: 8px;
  position: absolute;
  top: 20px;
  color: white;
  left: 15px;
  font-weight: bold;
}

.text-container {
  display: flex;
  margin-top: 64px;
  color: white;
  text-align: left;
  font-size: small;
}

.text-title {
  color: white;
  font-size: 28px;
  font-weight: 800;
  text-align: left;
  margin-top: 8px;
}

.play-text {
  background-color: red;
  border-radius: 16px;
  padding: 6px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-videos {
  margin-top: 24px;
  padding: 16px;
  font-size: medium;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.background-video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: transparent; /* Make it transparent */
  pointer-events: none; /* Ignore clicks on the overlay */
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-overlay {
  position: relative;
  width: 70%;
  height: 70%;
  border: 2px solid white;
}

.image-on-video {
  position: relative;
}

.image-on-video .jw-display-controls {
  display: none;
}

.image-on-video .jw-controls {
  display: none;
}

.image-video-container {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image-video-container div {
  height: 100%;
}

.image-video-container .jw-flag-aspect-mode {
  min-height: 100%;
}

.image-video-container .jwplayer.jw-stretch-uniform .jw-media video {
  object-fit: cover;
}

.image-on-video-content {
  padding: 32px;
  z-index: 2;
  padding-top: 132px;
}

.now {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 4px;
}

.small-image-container {
  margin-top: 130px;
  width: 110px;
  height: 110px;
  border: 1px solid white;
}

.image-on-video-text {
  color: white;
  display: flex;
  color: white;
  text-align: left;
  font-size: small;
  align-items: center;
}

.container-border {
  padding: 20px;
  margin-top: 24px;
  border-left: 1px solid red;
  border-top: 1px solid red;
}
